
.indicacaoFilme{
    background: url("https://th.bing.com/th/id/OIP.BKyLPKS__p5-lzwKoCw_ugHaEN?w=298&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7");
    background-size:cover;
    padding:5%;
    display:flex;
    flex-direction: row;
}
.filmeIndicado{
    display:flex;
    justify-content: flex-start;
    width:400px;
    height:550px;
    margin-right:80px;
}
.informacao-indicacao{
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
}
.ano-lancamento-indicacao{
    font-size:18px;
    color: white;
    font-weight: bold;
    margin-left: -95%;
}
.nome-indicacao{
    font-size:50px;
    color: white;
    width:75%;
    margin-left: -3%;
}
.genero-indicacao{
    font-size:18px;
    color: white;
    font-weight: bold;
    margin-left: -98%;
}
.resumo-indicacao{
    font-size:18px;
    color: white;
    font-weight: bold;
    width:70%;
}
.assistir-ind{
    color:white;
    border:none;
    padding:10px;
    text-align: center;
    background-color: red;
    border-radius: 20px;
    width: 20%;
    font-size:22px;
    cursor: pointer;
    text-decoration: none;
}
.assistir-ind:hover{
    transform: scale(1.05);
    transition: 0.8s;
    color:rgb(216, 212, 212);
}
