
.indicacaoFilme{
    background: url("https://th.bing.com/th/id/R.fb75a6754e0607147328ae72f1e35334?rik=wGTQtNRXLoCQGg&riu=http%3a%2f%2fimage.tmdb.org%2ft%2fp%2foriginal%2f29We1MLNidfXrwkZe390frjnOns.jpg&ehk=ZVxJncTDmEvdlwjXRP8Tn%2bc6x0LVOPPU6020W5w4vfI%3d&risl=&pid=ImgRaw&r=0");
    background-size:cover;
    padding:5%;
    display:flex;
    flex-direction: row;
}
.filmeIndicado{
    display:flex;
    justify-content: flex-start;
    width:400px;
    height:550px;
    margin-right:80px;
}
.informacao-indicacao{
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
}
.ano-lancamento-indicacao{
    font-size:18px;
    color: white;
    font-weight: bold;
    margin-left: -95%;
}
.nome-indicacao{
    font-size:50px;
    color: white;
    width:75%;
    margin-left: -30%;
}
.genero-indicacao{
    font-size:18px;
    color: white;
    font-weight: bold;
    margin-left: -98%;
}
.resumo-indicacao{
    font-size:18px;
    color: white;
    font-weight: bold;
    width:70%;
}
.assistir-ind{
    color:white;
    border:none;
    padding:10px;
    text-align: center;
    background-color: red;
    border-radius: 20px;
    width: 20%;
    font-size:22px;
    cursor: pointer;
    text-decoration: none;
}
.assistir-ind:hover{
    transform: scale(1.05);
    transition: 0.8s;
    color:rgb(216, 212, 212);
}
