.sec-header{
    display:flex;
    flex-direction:column;
}
.header{
    /*background-color:rgb(69, 69, 69);*/
    background: url(./fundoimg.jpeg);
    background-size:cover;
    display: flex;
    flex-direction: row;

}
.logo{
    width:20%;
    display:flex;
    justify-content: flex-start;
    margin-left:15px;
}
.pastas-navegacao{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top:15px;
    margin-left: -80%;
}
.pasta{
    font-family: 'Nunito', sans-serif;
    color: white;
    border:none;
    cursor: pointer;
    margin-left:40px;
    font-weight: 20;
}
.pasta:hover{
    border-bottom:4px solid red;
    color:rgb(237, 237, 237);
}
